{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}素材登録{% endblock %}

{% block main %}
<div class="page-header header-filter clear-filter purple-filter header-small" data-parallax="true" style="background-image: url('./assets/img/bg2.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand">
                    <h1>素材登録</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
  <div class="section section-basic">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <div class="card card-login">
            <form class="form" method="post" enctype="multipart/form-data">
                <!--     form description     -->
              <div class="card-header card-header-primary text-center">
                <h4 class="card-title">新規登録</h4>
              </div>
              <p class="description text-center">必要事項を入力してください</p>
              <div class="card-body">
                {% csrf_token %}
                <!--     form error message     -->
                {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    <div class="container">
                        <div class="alert-icon">
                            <i class="material-icons">error_outline</i>
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="material-icons">clear</i></span>
                        </button>
                        {% for error in form.non_field_errors %}
                         <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}


                <!--     form main     -->
                <!-- Material Name -->
                <div class="form-group">
                    {{ form.material_name.label_tag }}
                    {{ form.material_name | add_class:"form-control"}}
                    <!--error message -->
                    {% for error in form.material_name.errors %}
                        <span class="badge badge-danger">
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>

                <!-- Style Image -->
                <div class="form-group">
                    {{ form.style_image.label_tag }}
                    <div class="input-group">
                        <input type="text" class="form-control" readonly="">
                            <label class="input-group-btn">
                                <span class="btn btn-sm btn-primary">
                                    Choose File{{ form.style_image | add_class:"form-control"}}
                                </span>
                            </label>
                    </div>
                    <!--error message -->
                    {% for error in form.style_image.errors %}
                        <span class="badge badge-danger">
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>

                <!-- use style segmap -->
                <div class="form-group">
                        {{ form.style_segmap_setting.label_tag }}
                        {{ form.style_segmap_setting | add_class:"form-control" }}

                    <!--error message -->
                    {% for error in form.user_style_segmap.errors %}
                        <span class="badge badge-danger">
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>

                <!-- Style Segmap -->
                <div class="form-group">
                    {{ form.style_segmap.label_tag }}
                    <div class="input-group">
                        <input type="text" class="form-control" readonly="">
                            <label class="input-group-btn">
                                <span class="btn btn-sm btn-primary">
                                    Choose File{{ form.style_segmap | add_class:"form-control"}}
                                </span>
                            </label>
                    </div>
                    <!--error message -->
                    {% for error in form.style_segmap.errors %}
                        <span class="badge badge-danger">
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>

                <!-- Content Image -->
                <div class="form-group">
                    {{ form.content_image.label_tag }}
                    <div class="input-group">
                        <input type="text" class="form-control" readonly="">
                            <label class="input-group-btn">
                                <span class="btn btn-sm btn-primary">
                                    Choose File{{ form.content_image | add_class:"form-control"}}
                                </span>
                            </label>
                    </div>
                    <!--error message -->
                    {% for error in form.content_image.errors %}
                        <span class="badge badge-danger">
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>

                <!-- use content segmap -->

                <div class="form-check">
                    <label class="form-check-label">
                        {{ form.use_content_segmap | add_class:"form-check-input"  }}
                        {{ form.use_content_segmap.label }}
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                    <!--error message -->
                    {% for error in form.user_content_segmap.errors %}
                        <span class="badge badge-danger">
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>

                <!-- Content segmap -->
                <div class="form-group">
                    {{ form.content_segmap.label_tag }}
                    <div class="input-group">
                        <input type="text" class="form-control" readonly="">
                            <label class="input-group-btn">
                                <span class="btn btn-sm btn-primary">
                                    Choose File{{ form.content_segmap | add_class:"form-control"}}
                                </span>
                            </label>
                    </div>
                    <!--error message -->
                    {% for error in form.content_segmap.errors %}
                        <span class="badge badge-danger">
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>

                <!-- Parameters -->
                <div class="form-group">
                    {{ form.parameters.label_tag }}
                    {{ form.parameters | add_class:"form-control" }}
                    <!--error message -->
                    {% for error in form.parameters.errors %}
                        <span class="badge badge-danger">
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>

                <!-- Start at -->
                <div class="form-group">
                    {{ form.start_at.label_tag }}
                    <p>初期値は、ページロード時の直近の空き時間です</p>
                    {{ form.start_at | add_class:"form-control datetimepicker" }}
                    <!--error message -->
                    {% for error in form.start_at.errors %}
                        <span class="badge badge-danger">
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>

                <!-- Submit Button -->
                <div class="footer text-center">
                    <button type="submit" class="btn btn-primary">
                        登録する
                        <div class="ripple-container"></div>
                    </button>
                </div>


              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
{# File Input #}
$(document).on('change', ':file', function() {
    var input = $(this),
    numFiles = input.get(0).files ? input.get(0).files.length : 1,
    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.parent().parent().prev(':text').val(label);
});
{#  date time picker #}
$('.datetimepicker').datetimepicker({
    icons: {
        time: "fa fa-clock-o",
        date: "fa fa-calendar",
        up: "fa fa-chevron-up",
        down: "fa fa-chevron-down",
        previous: 'fa fa-chevron-left',
        next: 'fa fa-chevron-right',
        today: 'fa fa-screenshot',
        clear: 'fa fa-trash',
        close: 'fa fa-remove'
    },
    format: 'YYYY-MM-DD HH:00'
});
{# チェックボックスの値で入力の許可を判定 #}
$(document).ready(function () {
    // style_segmapに関する入力の有効・無効
    $('#id_style_segmap_setting').change(function () {
        let target_box = $("#id_style_segmap");
        if ($('#id_style_segmap_setting').val() === "use" ){
            // チェックがされていれば
            target_box.prop('disabled', false);
            target_box.parent().removeClass('btn-default');
            target_box.parent().addClass('btn-primary');
        } else {
            // チェックがなければ
            target_box.prop('disabled', true);
            target_box.parent().removeClass('btn-primary');
            target_box.parent().addClass('btn-default')
        }
    });

    // content_segmapに関する入力の有効・無効
    $('#id_use_content_segmap').change(function () {
        let target_box = $("#id_content_segmap");
        if ($('#id_use_content_segmap').prop("checked")){
            // チェックがされていれば
            target_box.prop('disabled', false);
            target_box.parent().removeClass('btn-default');
            target_box.parent().addClass('btn-primary')
        } else {
            // チェックがなければ
            target_box.prop('disabled', true);
            target_box.parent().removeClass('btn-primary');
            target_box.parent().addClass('btn-default')
        }
    });
});

</script>
{% endblock %}
