{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Index{% endblock %}


{% block main %}

<div class="page-header header-filter" data-parallax="true" style="background-color: #b8ecf3">
    <div class="container">
      {% include 'message.html' %}
      <div class="row">
        <div class="col-md-6">
          <h1 class="title">画風変換作品制作</h1>
          <h4>ベータ版での提供でございます</h4>
          <br>
            {% if user.is_authenticated %}
            <a href="{% url 'cms:material_index' %}" class="btn btn-danger btn-raised btn-lg">
                 <i class="fa fa-play"></i> 作品の数々を確認する
            </a>
            {% else %}
              <a href="{% url 'accounts:signup' %}" class="btn btn-danger btn-raised btn-lg">
                 <i class="fa fa-play"></i> 登録して、作品制作をはじめる
              </a>
            {% endif %}
        </div>
      </div>
    </div>
</div>




{% endblock %}
